langchain
streamlit 
tiktoken
pypdf
datetime
langchain-community
openai
faiss-cpu
langchain-experimental
langchain-openai
langchain-classic
blobfile
sentence-transformers
langchain-huggingface
htbuilder
snowflake
#snowflake-core 
#snowflake-cortex
#snowflake-llm
fastapi
uvicorn[standard]
dotenv
fastapi-users[sqlalchemy]
imagekitio 
aiosqlite